.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.logo__item {
  color: $accent-color;
}

.logo--header {
  margin-right: 93px;
  color: $black;
}

.logo--footer {
  margin-bottom: 20px;
  color: $white;
}
