.header {
  padding: 16px 0;
  border-bottom: 1px solid #ececec;

  position: relative;

  @media screen and (min-width: 768px) {
    height: 80px;
    padding: 0;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contact__item {
  margin-bottom: 32px;

  &:first-child {
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    &:first-child {
      margin-right: 50px;
      margin-bottom: 0;
    }
  }
}

.contact__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 29px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include breakpoint($mobile) {
    font-size: 34px;
  }

  @include breakpoint($tablet) {
    font-size: 12px;
    line-height: 1.14;
  }

  @include breakpoint($desktop) {
    font-size: 14px;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
