.intro {
  max-width: 1600px;
  min-height: 400px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/intro/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;

  background-size: cover;

  @media screen and (min-width: 1200px) {
    min-height: 600px;
    padding: 200px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../images/intro/intro-bg@2x.jpg);
  }
}

.intro__title {
  max-width: 360px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-bg-color;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
