.intro {
  max-width: 1600px;
  min-height: 400px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;

  // background-image: image-set(
  //   url('../images/intro/intro-bg.jpg') type('image/jpeg') 1x,
  //   url('../images/intro/intro-bg @2x.jpg') type('image/jpeg') 2x
  // );

  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/intro/intro-bg480.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/intro/intro-bg480@2x.jpg);
  }

  @include breakpoint($tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/intro/intro-bg768.jpg);

    @include retina {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/intro/intro-bg768@2x.jpg);
    }
  }

  @include breakpoint($desktop) {
    min-height: 600px;
    padding: 200px 0;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/intro/intro-bg1200.jpg);

    @include retina {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/intro/intro-bg1200@2x.jpg);
    }
  }
}

.intro__title {
  max-width: 360px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-bg-color;

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
