.section {
  padding: 94px 0;

  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }

  &:nth-child(3) {
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: $secondary-text-color;
  text-align: center;
}

.section--info {
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.section--team {
  background-color: $secondary-bg-color;
}
