.subscribe {
  margin: 0 auto;

  @include breakpoint($desktop) {
    margin: 0;
    margin-left: auto;
  }
}

.subscribe__title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  @include breakpoint($desktop) {
    text-align: left;
  }
}

.subscribe__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subscribe__input {
  width: 100%;
  max-width: 450px;
  height: 50px;

  margin-bottom: 20px;
  padding: 0 16px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $primary-bg-color;

  background-color: inherit;

  @include bordered(rgba(255, 255, 255, 0.3));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: $primary-bg-color;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  @include breakpoint($desktop) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.subscribe__icon {
  fill: $white;
}
